body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#fade-in-element {
  opacity: 0;
  transition: opacity 1s ease; /* 투명도 변화를 부드럽게 하기 위한 transition */
}

h1 {
  font-size: 60px;
}
