body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
    height: 300px; /* 스크롤 가능한 컨테이너의 높이 */
    overflow-y: scroll; /* 세로 스크롤 활성화 */
    position: relative; /* 자식 오브젝트의 위치 지정을 위해 */
}

.object {
    opacity: 0; /* 초기에 투명하게 설정 */
    transition: opacity 1s ease; /* 페이드 인 효과를 위한 transition */
    margin-top: 600px; /* 오브젝트를 컨테이너 아래에 위치시키기 위한 여유 공간 */
}

/* 오브젝트가 화면 안에 들어왔을 때의 스타일링 */
.object.fade-in {
    opacity: 1;
}


h1 {
  font-size: 60px;
}
